
<div class="view-back" data-ng-transclude>

</div>

<div class="slice s1" data-ng-click="toggleFold()">
    <span class="overlay"></span>

    <div class="slice s2">
        <span class="overlay"></span>

        <div class="slice s3">
            <span class="overlay"></span>

            <div class="slice s4">
                <span class="overlay"></span>

                <div class="slice s5">
                    <span class="overlay"></span>
                </div><!-- /s5 -->

            </div><!-- /s4 -->

        </div><!-- /s3 -->

    </div><!-- /s2 -->

</div><!-- /s1 -->
