<div data-kinetic-scroller="kinetic-scroller-demo">
  <div  data-image-folder-card="img1"
        data-card-width="300px"
        data-card-height="220px"
        data-animation-type="paperfold"
        data-img="images/1_300_220.png">

        <div class="caption"><a>1</a></div>

  </div>
  <div  data-image-folder-card="img2"
        data-card-width="300px"
        data-card-height="220px"
        data-animation-type="balloonfold"
        data-img="images/2_300_220.png">

        <div class="caption"><a>2</a></div>

  </div>
  <div  data-image-folder-card="img3"
        data-card-width="300px"
        data-card-height="220px"
        data-animation-type="fold"
        data-img="images/3_300_220.png">

        <div class="caption"><a>3</a></div>

  </div>
  <div  data-image-folder-card="img4"
        data-card-width="300px"
        data-card-height="220px"
        data-animation-type="paperfold"
        data-img="images/4_300_220.png">

        <div class="caption"><a>4</a></div>

  </div>
  <div  data-image-folder-card="img5"
        data-card-width="300px"
        data-card-height="220px"
        data-img="images/5_300_220.png">

        <div class="caption"><a>5</a></div>
  </div>
</div>
